/* Noto Sans importieren */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');

:root { 
--color-highlight-dark: 255, 169, 51 !important;
--color-highlight-menu: 255, 169, 51 !important;
--color-highlight: 255, 169, 51 !important;
}

body {
  font-family: 'Noto Sans', sans-serif !important;
}

.h1, .h2, .h3 {
  font-family: 'Noto Sans', sans-serif !important;
}

/* Sidebar */

.lia-active { 
  color: #FFA933 !important; 
}

/* Buttons */
.lia-btn {
  background: transparent !important;
  padding: 8px 14px !important;
  cursor: pointer !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.06) !important;
}

.lia-pagination__content { 
  background: #FFA933!important; 
}

/* Progress Bar */
.lia-progress {
  height: .15rem !important;
  background: #FFA933 !important;
}

/* Links */
.lia-link { 
  color: #FFA933 !important; 
}

.lia-link:visited { 
  color: #e68500 !important;
 }

 /* Theme not default Light */

html:not([class*="lia-theme-default"]) .lia-toc {
  background-color: #FFA933 !important;
}

html:not([class*="lia-theme-default"]) .lia-toc {
  color: rgb(var(--color-text))!important;
}

 html:not([class*="lia-theme-default"]) .lia-toc__search input {
  color: rgb(var(--color-text))!important;
}

html:not([class*="lia-theme-default"]) .lia-toc__content a.lia-active {
  color: rgb(var(--color-highlight-menu));
  background-color: #323232 !important;
  border-radius: .3rem;
  font-weight: 700;
}

 /* Theme not default Dark */
html.lia-variant-dark .lia-btn--transparent {
  filter: contrast(1.1)!important;
}

html.lia-variant-dark .lia-label {
  color: rgb(var(--color-highlight))!important;
}

html.lia-variant-dark .lia-support-menu__item {
  color: rgb(var(--color-highlight))!important;
}

html.lia-variant-dark .lia-code--inline {
  border-color: rgb(var(--color-highlight))!important;
  color: rgb(var(--color-highlight))!important;
}

html.lia-variant-dark .lia-list--unordered > li::marker {
  color: rgb(var(--color-highlight-dark));
}
