/* Noto Sans importieren */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif !important;
}

.lia-toc {
  background: #FFA933 !important;
}

.lia-link {
  color: #e68500 !important
}
